* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #eee;
    padding: 40px;
}

.resume {
    display: grid;
    grid-template-columns: 35% 65%;
    max-width: 900px;
    margin: auto;
    background: #fff;
}

/* LEFT */
.sidebar {
    background: #f6f6f6;
    padding: 40px;
    text-align: center;
}

.avatar img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.sidebar h1 {
    font-size: 28px;
    letter-spacing: 2px;
}

.title {
    font-size: 12px;
    letter-spacing: 2px;
    margin: 10px 0 30px;
}

.sidebar section {
    margin-bottom: 30px;
}

.sidebar h2 {
    font-size: 14px;
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.contact {
    list-style: none;
    font-size: 13px;
    text-align: left;
}

.contact li {
    margin-bottom: 8px;
}

.text {
    font-size: 12px;
    line-height: 1.6;
    text-align: left;
}

.social {
    margin-top: 30px;
    font-size: 14px;
}

/* RIGHT */
.content {
    padding: 40px;
}

.content section {
    margin-bottom: 40px;
}

.content h2 {
    font-size: 16px;
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
    padding-bottom: 5px;
    text-align: center;
}

.item {
    margin-bottom: 20px;
}

.item h3 {
    font-size: 14px;
}

.item span {
    font-size: 12px;
    color: #777;
}

.item p {
    font-size: 12px;
    margin-top: 5px;
    line-height: 1.6;
}

.languages {
    list-style: none;
    font-size: 13px;
}
